body
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: wheat;
}
#dynamic-content
{
    color: green;
    font-size: 1.2em;
}
.container
{
    margin-top: 20px;
}
.btn
{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
.btn:hover
{
    background-color: darkblue;
}
#new-element
{
    margin-top: 20px;
    color: darkblue;
}